In [1]:
import pandas as pd
df=pd.read_csv("trainLabels.csv")

In [2]:
df['level'].value_counts()

0    25810
2     5292
1     2443
3      873
4      708
Name: level, dtype: int64

In [16]:
df[df['level']==0].head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
8   17_left      0

In [17]:
df[df['level']==1].head()

        image  level
4     15_left      1
9    17_right      1
22    30_left      1
28    36_left      1
102  114_left      1

In [18]:
df[df['level']==2].head()

       image  level
5   15_right      2
23  30_right      2
30   40_left      2
42   51_left      2
46   54_left      2

In [19]:
df[df['level']==3].head()

         image  level
90     99_left      3
91    99_right      3
134   163_left      3
135  163_right      3
283  328_right      3

In [20]:
df[df['level']==4].head()

         image  level
6      16_left      4
7     16_right      4
184   217_left      4
185  217_right      4
252   294_left      4